In [4]:
import requests
from dotenv import load_dotenv
import json
import pandas as pd
from pathlib import Path
import glob

### Quarterly GDP

In [3]:

url = 'https://www.alphavantage.co/query?function=REAL_GDP&interval=quarterly&apikey=ALPA_VANTANGE_API_key'
url_format = url + '?format=json'
response = requests.get(url_format).json()
gdp = pd.DataFrame(response)
# Split 'data' column into 'date' and 'value' columns
gdp[['date', 'value']] = gdp['data'].apply(lambda x: pd.Series([x['date'], x['value']]))

# Drop the original 'data' column & unnecessary columns
gdp = gdp.drop(columns={'name', 'interval', 'unit', 'data'})
gdp = gdp.rename(columns={'date': 'Date', 'value': 'GDP'}).set_index('Date')
gdp.head()

                 GDP
Date
2023-01-01  4949.655
2022-10-01  5157.178
2022-07-01  5018.093
2022-04-01  4985.795
2022-01-01  4855.857

In [11]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 2023-01-01 to 2002-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GDP     85 non-null     object
dtypes: object(1)
memory usage: 1.3+ KB

### Quarterly GDP Per Capita

In [5]:
url = 'https://www.alphavantage.co/query?function=REAL_GDP_PER_CAPITA&apikey=ALPA_VANTANGE_API_key'
url_format = url + '?format=json'
response = requests.get(url_format).json()
gdp_per_capita = pd.DataFrame(response)
# Split 'data' column into 'date' and 'value' columns
gdp_per_capita[['date', 'value']] = gdp_per_capita['data'].apply(lambda x: pd.Series([x['date'], x['value']]))

# Drop the original 'data' column & unnecessary columns
gdp_per_capita = gdp_per_capita.drop(columns={'name', 'interval', 'unit', 'data'})
gdp_per_capita = gdp_per_capita.rename(columns={'date': 'Date', 'value': 'GDP PER CAPITA'}).set_index('Date')
gdp_per_capita.head()

           GDP PER CAPITA
Date
2023-01-01        60502.0
2022-10-01        60376.0
2022-07-01        60080.0
2022-04-01        59688.0
2022-01-01        59836.0

In [10]:
gdp_per_capita.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305 entries, 2023-01-01 to 1947-01-01
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GDP PER CAPITA  305 non-null    object
dtypes: object(1)
memory usage: 4.8+ KB

### DOL Monthly report

In [8]:
url = 'https://www.alphavantage.co/query?function=UNEMPLOYMENT&apikey=ALPA_VANTANGE_API_key'
url_format = url + '?format=json'
response = requests.get(url_format).json()
labor = pd.DataFrame(response)
# Split 'data' column into 'date' and 'value' columns
labor[['date', 'value']] = labor['data'].apply(lambda x: pd.Series([x['date'], x['value']]))

# Drop the original 'data' column & unnecessary columns
labor = labor.drop(columns={'name', 'interval', 'unit', 'data'})
labor = labor.rename(columns={'date': 'Date', 'value': 'DOL'}).set_index('Date')
labor.head()

            DOL
Date
2023-04-01  3.4
2023-03-01  3.5
2023-02-01  3.6
2023-01-01  3.4
2022-12-01  3.5

In [9]:
labor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 904 entries, 2023-04-01 to 1948-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DOL     904 non-null    object
dtypes: object(1)
memory usage: 14.1+ KB