In [1]:

import pandas as pd
from pathlib import Path
import glob

In [2]:
files_path = glob.glob('./coins/BTC/*.csv')
btc_dfs = []
for file_path in files_path:
    btc_df = pd.read_csv(file_path)
    btc_dfs.append(btc_df)
btc = pd.concat(btc_dfs)
btc['Date'] = pd.to_datetime(btc['timestamp']).dt.date
btc = btc.drop(columns=['timestamp']).set_index('Date').sort_index(ascending=False)
btc.head()

,open,high,low,close,volume,marketCap
Date,,,,,,
2023-05-21,27118.423228,27265.917992,26706.921354,26753.825639,8647416920.950001,5.184895e+11
2023-05-20,26888.841391,27155.159026,26843.277381,27129.586255,7044911360.48,5.257461e+11
2023-05-19,26826.754786,27128.618843,26700.210142,26890.128242,11258983300.889999,5.210833e+11
2023-05-18,27401.650208,27466.527590,26415.101483,26832.209300,15222938600.41,5.199359e+11
2023-05-17,27035.470130,27465.927904,26600.144844,27398.802028,15140006925.18,5.308901e+11

In [10]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1371 entries, 2023-05-21 to 2020-01-02
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open       1371 non-null   float64
 1   high       1371 non-null   float64
 2   low        1371 non-null   float64
 3   close      1371 non-null   float64
 4   volume     1371 non-null   object
 5   marketCap  1371 non-null   float64
dtypes: float64(5), object(1)
memory usage: 75.0+ KB