In [1]:

import pandas as pd
from pathlib import Path
import glob

In [2]:
files_path = glob.glob('./coins/LINK/*.csv')
link_dfs = []
for file_path in files_path:
    link_df = pd.read_csv(file_path)
    link_dfs.append(link_df)
link = pd.concat(link_dfs)
link['Date'] = pd.to_datetime(link['timestamp']).dt.date
link = link.drop(columns=['timestamp']).set_index('Date').sort_index(ascending=False)
link.head()

                open      high       low     close        volume     marketCap
Date
2023-05-21  6.512175  6.540746  6.382348  6.429470  9.081439e+07  3.324679e+09
2023-05-20  6.508691  6.538308  6.482776  6.512511  6.901831e+07  3.367619e+09
2023-05-19  6.535010  6.547083  6.478051  6.508409  1.021332e+08  3.365498e+09
2023-05-18  6.753480  6.758719  6.459141  6.534812  1.404497e+08  3.379151e+09
2023-05-17  6.658661  6.797799  6.560743  6.753897  1.689396e+08  3.492440e+09

In [3]:
link.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1232 entries, 2023-05-21 to 2020-01-02
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open       1232 non-null   float64
 1   high       1232 non-null   float64
 2   low        1232 non-null   float64
 3   close      1232 non-null   float64
 4   volume     1232 non-null   float64
 5   marketCap  1232 non-null   float64
dtypes: float64(6)
memory usage: 67.4+ KB