In [1]:

import pandas as pd
from pathlib import Path
import glob

In [2]:
files_path = glob.glob('./coins/MATIC/*.csv')
matic_dfs = []
for file_path in files_path:
    matic_df = pd.read_csv(file_path)
    matic_dfs.append(matic_df)
matic = pd.concat(matic_dfs)
matic['Date'] = pd.to_datetime(matic['timestamp']).dt.date
matic = matic.drop(columns=['timestamp']).set_index('Date').sort_index(ascending=False)
matic.head()

                open      high       low     close        volume     marketCap
Date
2023-05-21  0.877049  0.879284  0.855661  0.856783  1.936366e+08  7.950488e+09
2023-05-20  0.870994  0.878638  0.865311  0.877145  2.055881e+08  8.139441e+09
2023-05-19  0.872651  0.878371  0.865093  0.870935  2.619622e+08  8.081810e+09
2023-05-18  0.887504  0.888908  0.847198  0.872701  3.588353e+08  8.098199e+09
2023-05-17  0.845891  0.900021  0.842083  0.887680  4.457807e+08  8.237200e+09

In [3]:
matic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1371 entries, 2023-05-21 to 2020-01-02
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open       1371 non-null   float64
 1   high       1371 non-null   float64
 2   low        1371 non-null   float64
 3   close      1371 non-null   float64
 4   volume     1371 non-null   float64
 5   marketCap  1371 non-null   float64
dtypes: float64(6)
memory usage: 75.0+ KB